<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD polkit Policy Configuration 1.0 //EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">

<policyconfig>
    <!-- Needs to be installed to /usr/share/polkit-1/actions -->
    <action id="org.fairchildtech.Kitfox.KitfoxResourceService">
        <description>Privileged Resource Modification</description>
        <message>Authentication is required to modify privileged resources.</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
    </action>
</policyconfig>
